<html>
<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8">
	<title>Beranda</title>

		<!-- Import jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- Import library wizard jika diperlukan -->
	<script src="path/to/jquery.steps.min.js"></script>


	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href={~p"/assets/vendors/images/apple-touch-icon.png"} />
	<link rel="icon" type="image/png" sizes="32x32" href={~p"/assets/vendors/images/logo-utm.png"}>
	<link rel="icon" type="image/png" sizes="16x16" href={~p"/assets/vendors/images/logo-utm.png"}>

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href={~p"/assets/vendors/styles/core.css"}>
	<link rel="stylesheet" type="text/css" href={~p"/assets/vendors/styles/icon-font.min.css"}>
	<link rel="stylesheet" type="text/css" href={~p"/assets/src/plugins/datatables/css/dataTables.bootstrap4.min.css"}>
	<link rel="stylesheet" type="text/css" href={~p"/assets/src/plugins/datatables/css/responsive.bootstrap4.min.css"}>
	<link rel="stylesheet" type="text/css" href={~p"/assets/vendors/styles/style.css"}>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-119386393-1');
	</script>
</head>
<body class="login-page">
    <div class="login-header box-shadow">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div class="brand-logo">
                <a href="/login">
                    <img src={~p"/assets/vendors/images/utm.png"} alt="" class="img-fluid mb-1" style="max-width: 60px; height: auto;">
                    <h1 style="font-size: 16px; margin-left: 20px;">Layanan Pengaduan Universitas Trunojoyo Madura</h1>
                </a>
            </div>
            <div class="login-menu">
                <ul>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="register-page-wrap d-flex align-items-center flex-wrap justify-content-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-7">
                    <img src={~p"/assets/vendors/images/faq.png"} alt="" class="responsive-image" style="margin-left: 100px;">
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="register-box bg-white box-shadow border-radius-10">
                        <div class="wizard-content">
                            <form class="tab-wizard2 wizard-circle wizard">
                                <h5>Siakad</h5>
                                <section>
                                    <div style="text-align: left;">
                                        <p>1. Mengapa saya tidak bisa login ke Siakad?</p>
                                        <p>Solusinya adalah .......</p>
                                        <p>2. Mengapa saya tidak bisa mengisi KRS (Kartu Rencana Studi)?</p>
                                        <p>Solusi: Periksa jadwal pengisian KRS yang telah ditentukan oleh pihak akademik. Pastikan juga Anda tidak memiliki tunggakan administrasi atau hal lain yang mungkin menghalangi proses pengisian KRS.</p>
                                        <p>3. Apa yang harus saya lakukan jika email saya diblokir?</p>
                                        <p>Solusi: Ini bisa terjadi jika aktivitas akun dianggap mencurigakan. Coba ganti password Anda dan hubungi penyedia layanan email untuk membuka blokirnya.</p>
                                    </div>
                                </section>
                                <h5>Email</h5>
                                <section>
                                    <div style="text-align: left;">
                                        <p>1. Mengapa saya tidak bisa login ke Siakad?</p>
                                        <p>Solusinya adalah .......</p>
                                        <p>2. Mengapa saya tidak bisa mengisi KRS (Kartu Rencana Studi)?</p>
                                        <p>Solusi: Periksa jadwal pengisian KRS yang telah ditentukan oleh pihak akademik. Pastikan juga Anda tidak memiliki tunggakan administrasi atau hal lain yang mungkin menghalangi proses pengisian KRS.</p>
                                        <p>3. Apa yang harus saya lakukan jika email saya diblokir?</p>
                                        <p>Solusi: Ini bisa terjadi jika aktivitas akun dianggap mencurigakan. Coba ganti password Anda dan hubungi penyedia layanan email untuk membuka blokirnya.</p>
                                    </div>
                                </section>
                                <h5>Jaringan</h5>
                                <section>
                                    <div style="text-align: left;">
                                        <p>1. Mengapa saya tidak bisa login ke Siakad?</p>
                                        <p>Solusinya adalah .......</p>
                                        <p>2. Mengapa saya tidak bisa mengisi KRS (Kartu Rencana Studi)?</p>
                                        <p>Solusi: Periksa jadwal pengisian KRS yang telah ditentukan oleh pihak akademik. Pastikan juga Anda tidak memiliki tunggakan administrasi atau hal lain yang mungkin menghalangi proses pengisian KRS.</p>
                                        <p>3. Apa yang harus saya lakukan jika email saya diblokir?</p>
                                        <p>Solusi: Ini bisa terjadi jika aktivitas akun dianggap mencurigakan. Coba ganti password Anda dan hubungi penyedia layanan email untuk membuka blokirnya.</p>
                                    </div>
                                </section>
                                <h5>Software</h5>
                                <section>
                                    <div style="text-align: left;">
                                        <p>1. Mengapa saya tidak bisa login ke Siakad?</p>
                                        <p>Solusinya adalah .......</p>
                                        <p>2. Mengapa saya tidak bisa mengisi KRS (Kartu Rencana Studi)?</p>
                                        <p>Solusi: Periksa jadwal pengisian KRS yang telah ditentukan oleh pihak akademik. Pastikan juga Anda tidak memiliki tunggakan administrasi atau hal lain yang mungkin menghalangi proses pengisian KRS.</p>
                                        <p>3. Apa yang harus saya lakukan jika email saya diblokir?</p>
                                        <p>Solusi: Ini bisa terjadi jika aktivitas akun dianggap mencurigakan. Coba ganti password Anda dan hubungi penyedia layanan email untuk membuka blokirnya.</p>
                                    </div>
                                </section>
                                <h5>Hardware</h5>
                                <section>
                                    <div style="text-align: left;">
                                        <p>1. Mengapa saya tidak bisa login ke Siakad?</p>
                                        <p>Solusinya adalah .......</p>
                                        <p>2. Mengapa saya tidak bisa mengisi KRS (Kartu Rencana Studi)?</p>
                                        <p>Solusi: Periksa jadwal pengisian KRS yang telah ditentukan oleh pihak akademik. Pastikan juga Anda tidak memiliki tunggakan administrasi atau hal lain yang mungkin menghalangi proses pengisian KRS.</p>
                                        <p>3. Apa yang harus saya lakukan jika email saya diblokir?</p>
                                        <p>Solusi: Ini bisa terjadi jika aktivitas akun dianggap mencurigakan. Coba ganti password Anda dan hubungi penyedia layanan email untuk membuka blokirnya.</p>
                                    </div>
                                </section>
                                <h5>Input Data</h5>
                                <input type="text" class="form-control wide-input" placeholder="Masukkan data di sini">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Success Popup HTML Start -->
    <button type="button" id="success-modal-btn" hidden data-toggle="modal" data-target="#success-modal" data-backdrop="static">Launch modal</button>
    <div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered max-width-400" role="document">
            <div class="modal-content">
                <div class="modal-body text-center font-18">
                    <h3 class="mb-20">Apakah Permasalahan Anda Belum Terjawab?</h3>
                    <div class="mb-30 text-center"><img src={~p"/assets/vendors/images/success.png"} alt="Success Image"></div>
                    Anda akan kembali ke halaman login
                </div>
                <div class="modal-footer justify-content-center">
                    <a href="/login" class="btn btn-primary">Done</a>
                </div>
            </div>
        </div>
    </div>

	<!-- success Popup html End -->
    <!-- js -->
	<script src={~p"/assets/vendors/scripts/core.js"}></script>
	<script src={~p"/assets/vendors/scripts/script.min.js"}></script>
	<script src={~p"/assets/vendors/scripts/process.js"}></script>
	<script src={~p"/assets/vendors/scripts/layout-settings.js"}></script>
	<script src={~p"/assets/src/plugins/jquery-steps/jquery.steps.js"}></script>
	<script src={~p"/assets/vendors/scripts/steps-setting.js"}></script>
	<script src={~p"/assets/src/scripts/baru.js"}></script>
</body>
</html>
